.about {
    padding-top: 0;
    padding-bottom: 94px;
}

.about__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.about__application {
    list-style-type: none;
    display: flex;
   &>li:not(:first-child) {
    margin-left: 30px;
} 
}

.application__pictures {
    position: relative;    
}

.application__label {
    position: absolute;
    display: flex;
    // bottom: 0;
    bottom: 0px;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
}

.application__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-btn-accent);
}
